@using IdentityDemo.Views.Manage
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@{
    var user = (await UserManager.GetUserAsync(User));
    bool x = await UserManager.IsInRoleAsync(user, "user");
}
@{
    var hasExternalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).Any();
}

@if (x)
{
    <li class="@ManageNavPages.IndexNavClass(ViewContext)" style="padding-right: 15px;"><a data-toggle="tab" asp-action="Index">Profile</a></li>
    <li class="@ManageNavPages.ChangePasswordNavClass(ViewContext)" style="padding-right: 15px;"><a data-toggle="tab" asp-action="ChangePassword">Password</a></li>
    <li class="@ManageNavPages.ResumeNavClass(ViewContext)" style="padding-right: 15px;"><a data-toggle="tab" asp-action="Resume">Experiance</a></li>
    <li class="@ManageNavPages.workingexperienceNavClass(ViewContext)" style="padding-right: 15px;"><a data-toggle="tab" asp-action="workingexperience">workingexperience</a></li>


}
else
{
    <li class="@ManageNavPages.IndexNavClass(ViewContext)" style="padding-right: 15px;"><a data-toggle="tab" asp-action="Index">Profile</a></li>
    <li class="@ManageNavPages.ChangePasswordNavClass(ViewContext)" style="padding-right: 15px;"><a data-toggle="tab" asp-action="ChangePassword">Password</a></li>
    <li style="padding-right: 15px;"><a>My jobs</a></li>
    <li style="padding-right: 15px;"><a>Condidat for me</a></li>
    <li style="padding-right: 15px;"><a>my chihaja</a></li>


}
