@model workingexperienceViewModel
@{
    ViewData["Title"] = "workingexperience";
    ViewData.AddActivePage(ManageNavPages.workingexperience);
}

<h4>@ViewData["Title"]</h4>

<div class="row">
    <div class="col-md-6">
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>

            <div >
                <label asp-for="CompanyName">CompanyName</label>
                <input asp-for="CompanyName" class="form-control" disabled />
            </div>

            <div >
                <label asp-for="Descritpion">Descritpion</label>
                <input asp-for="Descritpion" class="form-control" disabled />
            </div>
            <div >
                <label asp-for="StartDate">StartDate</label>
                <input asp-for="StartDate" class="form-control" disabled />
            </div>
            <div >
                <label asp-for="EndDate">EndDate</label>
                <input asp-for="EndDate" class="form-control" disabled />
            </div>

            <button type="submit" class="btn btn-default">Save</button>
        </form>
        <table>
            @foreach (WorkingExperience war in Model.ResumeWorkingExperiences)
            {
            <tr>
                <td>@war.CompanyName</td>
                <td>@war.Descritpion</td>
                <td>@war.Position</td>
                <td>@war.StartDate</td>
                <td>@war.EndDate</td>
            </tr>
            }
        </table>
    </div>
</div>


@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}