@model workingexperienceViewModel
@{
    ViewData["Title"] = "workingexperience";
    ViewData.AddActivePage(ManageNavPages.workingexperience);
}



<div class="relative" id="Experience">
    <div class="module noPad experienceStyle__experience___nfkm9">
        <h2 class="profileHeading">Experience</h2>


        @foreach (WorkingExperience war in Model.ResumeWorkingExperiences)
        {
            <div class="card  mt-5 mb-5">
                <div id="carouselExampleControls" class="carousel slide" data-ride="carousel" data-interval="100000">
                    <div class="w-100 carousel-inner" role="listbox">
                        <ul>
                            <li>
                                <div class="tbl padTopMd fill" style="padding-left: 20px;padding-top: 10px;padding-bottom: 10px;">
                                    <div class="cell skinny">
                                        <span class="sqLogo tighten undefined smSqLogo defLogo">
                                            <span><i></i></span>
                                        </span>
                                    </div>
                                    <div class="cell">
                                        <div>
                                            <div style="position:absolute;left:auto">
                                                @war.Position
                                            </div>
                                            <div class="float-right">
                                                <div>
                                                    <i class="icon-edit margRt"></i>
                                                    <i class="icon-delete"></i>
                                                </div>
                                            </div>
                                        </div>
                                        <br />
                                        <div class="tbl fill padTopXs">
                                            <div data-test="employer" style="position:absolute;left:auto">
                                                <a href="" target="_blank" rel="noopener noreferrer">@war.CompanyName</a>
                                            </div>
                                            <div data-test="employmentperiod" class="float-right">
                                                @war.StartDate.Day/@war.StartDate.Month/@war.StartDate.Year  &nbsp;--&nbsp;@war.EndDate.Day/@war.EndDate.Month/@war.EndDate.Year
                                            </div>
                                            <br />
                                        </div>
                                        <label data-test="location" class="block subtle padTopXs"> @war.Position</label>
                                        <p data-test="description" class="preWrap padTop experienceStyle__description___1wJ2R">
                                            Description: @war.CompanyName
                                        </p>
                                    </div>
                                </div>
                            </li>

                        </ul>

                    </div>
                </div>
            </div>
        }
    </div>
</div>
<div class="container mt-5 mb-5">
    <div class="row">
        <div class="col-md-6 offset-md-3">

            <div>
                <div>
                    <h4>Add Experience</h4>
                    <form method="post">
                        <div asp-validation-summary="All" class="text-danger"></div>

                        <div>
                            <label asp-for="CompanyName">CompanyName</label>
                            <input asp-for="CompanyName" class="form-control" disabled />
                        </div>

                        <div>
                            <label asp-for="CompanyName">Position</label>
                            <input asp-for="CompanyName" class="form-control" disabled />
                        </div>
                        <div>
                            <label asp-for="Descritpion">Descritpion</label>
                            <input asp-for="Descritpion" class="form-control" disabled />
                        </div>
                        <div>
                            <label asp-for="StartDate">StartDate</label>
                            <input asp-for="StartDate" class="form-control" disabled />
                        </div>
                        <div>
                            <label asp-for="EndDate">EndDate</label>
                            <input asp-for="EndDate" class="form-control" disabled />
                        </div>

                        <button type="submit" class="login100-form-btn" style="margin-left: auto;border-right-width: auto;border-right-style: solid;margin-right: auto;margin-top: 9px;">Add</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="relative" id="Experience">
    <div class="module noPad experienceStyle__experience___nfkm9">
        <div>
            <h4>formation</h4>
            <br />
            <ul class="timeline">
                @foreach (WorkingExperience war in Model.ResumeWorkingExperiences)
                {
                    <li>
                        <a target="_blank"></a>
                        <a href="#" class="float-right"> @war.StartDate.Day/@war.StartDate.Month/@war.StartDate.Year  &nbsp;--&nbsp;@war.EndDate.Day/@war.EndDate.Month/@war.EndDate.Year</a>
                        <p style="margin-right:20px;padding-left: 25px;">Ecole : @war.CompanyName</p>
                        <p style="margin-right:20px;padding-left: 25px;">Desc : @war.Descritpion</p>
                        <br />
                    </li>
                }
            </ul>
        </div>
    </div>
</div>
<div class="container mt-5 mb-5">
    <div class="row">
        <div class="col-md-6 offset-md-3">

            <div>
                <div>
                    <h4>Add Formation</h4>
                    <form method="post">
                        <div class="text-danger"></div>

                        <div>
                            <label>formation</label>
                            <input class="form-control" disabled />
                        </div>
                        <div>
                            <label>Descritpion</label>
                            <input class="form-control" disabled />
                        </div>
                        <div>
                            <label>StartDate</label>
                            <input class="form-control" disabled />
                        </div>
                        <div>
                            <label>EndDate</label>
                            <input class="form-control" disabled />
                        </div>

                        <button type="submit" class="login100-form-btn" style="margin-left: auto;border-right-width: auto;border-right-style: solid;margin-right: auto;margin-top: 9px;">Add</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="relative" id="Experience">
    <div class="module noPad experienceStyle__experience___nfkm9">
        <div>
            <h4>Skills</h4>
            <br />
            <div>
                <div class="well text-right">
                    <div class="row">
                        <div class="col-md-10">
                            <div class="input-group">
                                <span class="input-group-addon glyphicon glyphicon-search"></span>
                                <input type="text" name="SearchDualList" class="form-control" placeholder="Skiils" />
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="btn-group">
                                <button type="submit" class="login100-form-btn">Add</button>
                            </div>
                        </div>
                    </div>
                    <ul class="list-group" style="margin-top: 9px;">
                        @foreach (WorkingExperience war in Model.ResumeWorkingExperiences)
                        {
                            <li class="list-group-item">
                                <div>
                                    <div style="position:absolute;left:auto">
                                        @war.Position
                                    </div>
                                    <div class="float-right">
                                        <div>
                                            <i class="icon-delete"></i>
                                        </div>
                                    </div>
                                </div>

                            </li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<br />
<br />

<div class="relative" id="Experience">
    <div class="module noPad experienceStyle__experience___nfkm9">
        <div>
            <h4>Language</h4>
            <br />
            <div>
                <div class="well text-right">
                    <div class="row">
                        <div class="col-md-10">
                            <div class="input-group">
                                <span class="input-group-addon glyphicon glyphicon-search"></span>

                                <input type="text" name="SearchDualList" class="form-control" placeholder="Language" />
                                <input type="text" name="SearchDualList" class="form-control" placeholder="desc" />
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="btn-group">
                                <button type="submit" class="login100-form-btn">Add</button>
                            </div>
                        </div>
                    </div>
                    <ul class="list-group" style="margin-top: 9px;">
                        @foreach (WorkingExperience war in Model.ResumeWorkingExperiences)
                        {
                            <li class="list-group-item">
                                <div>
                                    <div style="position:absolute;left:auto">
                                        @war.Position
                                    </div>

                                    <div class="float-right">
                                        <div>
                                            <i class="icon-delete"></i>
                                        </div>
                                    </div>
                                </div>
                                <div style="position:center">
                                    @war.CompanyName
                                </div>

                            </li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<br />
<br />

<div class="relative" id="Experience">
    <div class="module noPad experienceStyle__experience___nfkm9">
        <div>
            <h4>Loisir</h4>
            <br />
            <div>
                <div class="well text-right">
                    <div class="row">
                        <div class="col-md-10">
                            <div class="input-group">
                                <span class="input-group-addon glyphicon glyphicon-search"></span>
                                <input type="text" name="SearchDualList" class="form-control" placeholder="Loisir" />
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="btn-group">
                                <button type="submit" class="login100-form-btn">Add</button>
                            </div>
                        </div>
                    </div>
                    <ul class="list-group" style="margin-top: 9px;">
                        @foreach (WorkingExperience war in Model.ResumeWorkingExperiences)
                        {
                            <li class="list-group-item">
                                <div>
                                    <div style="position:absolute;left:auto">
                                        @war.CompanyName
                                    </div>
                                    <div class="float-right">
                                        <div>
                                            <i class="icon-delete"></i>
                                        </div>
                                    </div>
                                </div>

                            </li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<br />
<br />
@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
